.App1{
  text-align: center;
 }

.container{
  background-color: beige;
  padding: 10rem;
  border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.img1{
 border-radius: 1rem;
  min-height: 45vh;
  width: 40vh;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.title{
  color: rgb(98, 86, 110);
  text-shadow: 0cap;
  text-decoration-color: azure;
  
}

.id{
  color: rgb(98, 86, 110);
  text-shadow: 0cap;
  text-decoration-color: azure;
  
}

.weight{
  color: rgb(98, 86, 110);
  text-shadow: 0cap;
  text-decoration-color: azure;
  
}
.name{
  color: rgb(98, 86, 110);
  text-shadow: 0cap;
  text-decoration-color: azure;
  
}

.abilities{
  color: rgb(98, 86, 110);
  text-shadow: 0cap;
  text-decoration-color: azure;
  
}